# Les dépendances du projet
streamlit
pandas
numpy
matplotlib
seaborn
joblib
scikit-learn
folium
streamlit-folium

# Pour la première utilisation de ce projet, exécuter : 
# pip install -r requirements.txt


